registry=https://nexus-frontend.frameworks.allianz.io/repository/npm-public/
always-auth=true
engine-strict=true
//nexus-frontend.frameworks.allianz.io/repository/npm-public/:_authToken=NpmToken.21ddd5ac-6551-3113-8004-31c5865fb26b

@nxt:registry=https://registry.kxlabs.io/
//registry.kxlabs.io/:_authToken=nB0ByLumVXUaCaRy8O79bxj87xRQhNlP03ZMWuNi3VcHV34u0HX2VGxhhEMcWtKG

email=support@kxlabs.io
always-auth=true
